body {
    font-family: Arial, sans-serif;
}

.filter-container {
    background-color: #f1f8e9;
    padding: 20px;
    width: 304px;
    height: 505px;
    top: 64px;
    left: 64px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    
}

.filter-header span {
    font-weight: bold;
}

.clear-btn {
    background: none;
    border: none;
    color: #6c757d;
    font-size: 14px;
    cursor: pointer;
    padding: 0px;
    margin: 0;
}

.filter-option {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

.filter-option:last-child {
    border-bottom: none;
}

.filter-option span {
    font-size: 14px;
}

.toggle {
    font-weight: bold;
    color: #6c757d;
}
