.header-con {
    background-color: green;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-con p:first-child {
    flex-grow: 1;
    text-align: center;
}

.header-con p:last-child {
    margin-left: auto;
}